@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
html {
    scroll-behavior: smooth; /*scrollea suave */
}

body{
    font-family:  'Raleway', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
}

@media (min-width: 1000px) {
    body{
        font-family:  'Raleway', sans-serif;
        color: black;
        font-size: 16px;
        font-weight: 400;
    }
    a{
        text-decoration: none;
    }

    .logo img{
        padding-top: 20px;  
        padding-bottom: 10px;  
        width: 350px;
        height: 350px;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        background: #AEBDCA;
        position: fixed;
        width: 100%;
        z-index: 100;
    } 
    
    .navbar {
        display: flex;
        margin-right: 10px;
    }
    
    .logo img{
        padding-top: 50px;  
        padding-bottom: 50px;  
        width: 190px;
        height: 245px;       
        border-radius: 30px;     
        vertical-align: middle;  /* centra dentro de una celda al medio  */
        margin-right: 5px; /*pensar las separaciones,para separar la imagen de la palabra   */        
        text-align: left;       
    }
    
    .logo a {
        text-decoration: none;        
        text-transform: uppercase;
        font-size: 20px;
        list-style: none;        
        text-align: right;
        padding: 10px;
        color: #707070;
        font-weight: 700px; /*para el titulo*/ 
    }
    
    .navbar{
        margin-right: 20px;
    }
    
    .navbar a {
        display: block;
        padding: 25px 25px;   
        color: #646464; 
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;    
    }
    
    .navbar a:hover {
        background: #7b7b7b68;
    }

.inicio {
    background-color: #EEE3CB;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 36px 0px 36px;
}
    .inicio img{
        width: 300px;
        height: 300px;
        border-radius: 12px;
        
    }

    .inicio div {
        width: 400px;
        background-color: #D9D9D9;
        padding: 16px;
        border-radius: 12px;
        text-align: center;
    }

    .inicio p {
        margin-top: 8px;
    }

/*segunda pagina*/
    #ellos{
        display: flex;
        flex-wrap: wrap;  /*esto hace q me respete el ancho del contenedor*/
        justify-content:space-between ;
        background: #D7C0AE;
        padding: 32px;
        
    }
    #ellos h2{
        background: #d9d9d9;
        width: 100%;
        margin-bottom: 16px;;
        border-radius: 12px;
        padding: 8px;
    }   

    #ellos img{
        width: 270px;
        height: 250px;
        border-radius: 12px;
    }
    #ellos article {
        width:350px ;
        height: 450px;
        background-color: #D9D9D9;
        color:black ;
        text-align:center;
        padding: 16px;
        margin: 16px;
          
    }
     #ellos h3 {
        font-weight: 600 ;
        margin: 20px 20px;
        font-size: 30px;
     }
    
     #ellos p {
        font-weight: 200 ;
        margin: 20px 20px;
        font-weight: 200;
    }
/* tercer pagina*/
    #menu{
        background-image: url(../img/fondoMenu.jpg);
        background-size: cover;   
        padding: 40px 40px;     
    }
    #menu h2{
        background: #d9d9d9;
        font-size: 50px;
        width: 100%;       
        margin-bottom: 16px;
        border-radius: 12px;        
        display: flex;
        justify-content: center;
    }
    #subMenu h4{
        background: #d9d9d9;
        font-size: 30px;
        padding: 10px 10px 10px 10px;        
        margin-bottom: 16px;;
        border-radius: 12px;        
        display: grid;
        text-align: center;
        justify-content: center;
    }
    #subMenu p{
        font-size: 20px;
        width: 500px;
        height: 50px;                     
        display: grid;
        text-align: center;
        justify-content: center;
    }
    #subMenu{
        background-color: rgba(255, 255, 255, 0.576);
        width: 800px;
        margin: auto;
        padding: 60px;
        display: flex;
        border-radius: 12px;
        justify-content: space-between;  
        display: grid;
        text-align: center;
        justify-content: center;     
    }
/*cuarta pagina*/
    #reglas {
        background: #D9D9D9;
        padding: 100px;
    }

    #titulo {
        background: #D7C0AE;
        width: 700px;
       display: flex;
       justify-content: space-between;
       border-radius: 12px;               
    }

    #titulo img{
        width: 220px;
        height: 200px;
        position: relative;
        bottom: 50px;
        right: 50px;
        border-radius: 12px;
    }

    #titulo div{
        text-align: center;
        padding: 20px;
    }

    #titulo div h2 {
        font-size: 50px;
        margin-bottom: 16px;
    }

    .lasreglas{
        margin-top: 40px;
        display:flexbox;
        justify-content: space-between;      
    }  

    .lasreglas article {
        background-color: #D7C0AE ;
        border-radius: 12px;
        margin-bottom: 20px;
        text-align: center;
        padding: 8px;
    }
    .lasreglas img {
        width: 50px;
        height: 50px;
    }
   
/*quinta pagina*/
    #asociate {
        background-image: url(../img/forms.jpg);
        background-size: cover;
        padding: 60px 0px;
    }
    
    #formulario {
        background-color: rgba(255, 255, 255, 0.177);
        width: 1000px;
        margin: auto;
        padding: 60px;
        display: flex;
        border-radius: 12px;
        justify-content: space-between;
    }
    #formulario form{
        width: 550px;
    }

    #formulario div{
        width: 250px;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2; /* multiplica el espacio de las lineas x2*/
        border-radius: 12px;
        border: #F4F4F4 solid;
    }

    
    #formulario input, 
    #formulario button, 
    #formulario textarea{
    width: 100%;
    border-radius: 12px;
    border:none;
    padding: 16px; /* esto da la altura de los input , el centrado y la separacion */
    font-family: Raleway;
    color:black;
    font-weight: 600;
    }
  
    #formulario input,
    #formulario textarea {
        background-color: #F4F4F4 ;
        margin-bottom: 16px;
        border: #F4F4F4 solid;
    }

    #formulario button{
        background-color: #D7C0AE;
        color: black;
        transition: .3s;
        padding: 10px;
    }
     
    #formulario button:hover{
        background-color:#444444;
    }
    
    #formulario textarea{
        height: 100px;
        
        resize: none; /* saca la posibilidad de agrandar*/
    }

    
    #formulario div img {
        width: 72px;
        height: 72px;
        border: 1px solid #707070;
        border-radius: 36px;
        padding: 8px ;
        margin-top: 8px;
    }


}

/*footer*/
footer {
    background-color: #262626;
    
   
}
    #contenidofooter{
        display: flex;
        margin: auto;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        height: 300px;
        padding: 16px;
    }

    #contenidofooter a{
        color: white;
        font-weight: 600px;
    }

    #logo-footer img{
        width: 40px;
        margin-right: 8px;
        vertical-align: middle;
        border-radius: 30px;       
    }

    footer div a img{
        width: 24px;
        margin: 0px 50px 80px 0px;        
    }

    footer iframe{
        margin-right: 300px;      
    }

/*medida small para tablet*/
@media ( min-width: 600px ) and (max-width:999px) {
    body{ 
        font-size: 12px;
    }
    header{
        display: flex;
        justify-content:space-between ;
        align-items:center ; /*centra en un contenedor*/
        height: 45px;
        margin: auto;
        padding: 16px;
        background-color: #B7C4CF;
    }
        header a img {
            width: 20px;
            vertical-align: middle;  /* centra dentro de una celda al medio  */
            margin-right: 8px; /*pensar las separaciones,para separar la imagen de la palabra   */
            border-radius: 30px;
        }
        header a {
            color: #707070;
            font-weight: 600; /*para el titulo */
        }
    
        header nav a {
            /*separacion para las palabras se puede usar padding o margin left*/
            margin-left: 24px;
            padding: 12px; /* agranda el area de clic y mejora la experiencia*/
            
        }

/*primer pagina*/

    .inicio {
        background-color: #EEE3CB;
        min-height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 36px 36px 36px 36px;
    }
        .inicio img{
            width: 200px;
            height: 200px;
            border-radius: 12px;
            
        }
    
        .inicio div {
            width: 300px;
            background-color: #D9D9D9;
            padding: 16px;
            border-radius: 12px;
            text-align: center;
        }
    
        .inicio p {
            margin-top: 8px;
        }

/*segunda pagina*/
    #ellos{
        display: flex;
        flex-wrap: wrap;  /*esto hace q me respete el ancho del contenedor*/
        justify-content:space-between ;
        background: #D7C0AE;
        padding: 32px;
        
    }
    #ellos h2{
        background: #d9d9d9;
        width: 100%;
        margin-bottom: 16px;;
        border-radius: 12px;
        padding: 8px;

    }
   

    #ellos img{
        width: 150px;
        height: 150px;
        border-radius: 12px;
    }
    #ellos article {
        width:200px ;
        height: 300px;
        background-color: #D9D9D9;
        color:black ;
        text-align:center;
        padding: 16px;
        margin: 16px;
          
    }
     #ellos h3 {
        font-weight: 600 ;
        margin: 10px 10px;
        font-size: 30px;
     }
    
     #ellos p {
        font-weight: 200 ;
        margin: 20px 20px;
        font-weight: 200;
    }
 /* tercer pagina*/
 #menu{
    background-image: url(../img/fondoMenu.jpg);
    background-size: cover;   
    padding: 20px 20px;     
}
#menu h2{
    background: #d9d9d9;
    font-size: 36px;
    width: 100%;       
    margin-bottom: 16px;
    border-radius: 12px;        
    display: flex;
    justify-content: center;
}
#subMenu h4{
    background: #d9d9d9;
    font-size: 16px;
    padding: 10px 10px 10px 10px;        
    margin-bottom: 16px;
    border-radius: 12px;        
    display: grid;
    text-align: center;
    justify-content: center;
}
#subMenu p{
    font-size: 20px;
    width: 400px;
    height: 50px;                     
    display: grid;
    text-align: center;
    justify-content: center;
}
#subMenu{
    background-color: rgba(255, 255, 255, 0.576);
    width: 500px;
    margin: auto;
    padding: 60px;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;  
    display: grid;
    text-align: center;
    justify-content: center;     
}
 /*cuarta pagina*/
    #reglas {
        background: #D9D9D9;
        padding: 100px;
    }

    #titulo {
        background: #D7C0AE;
        width: 450px;
       display: flex;
       justify-content: space-between;
       border-radius: 12px;
               
    }

    #titulo img{
        width: 170px;
        height: 150px;
        position: relative;
        bottom: 50px;
        right: 50px;
        border-radius: 12px;
    }

    #titulo div{
        text-align: center;
        padding: 20px;
    }

    #titulo div h2 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .lasreglas{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* para respetar el tamaño del contido que se envuelve */
            
       
    }

    .lasreglas article {
        background-color: #D7C0AE ;
        border-radius: 12px;
        margin-bottom: 20px;
        text-align: center;
        padding: 8px;
    }

    .lasreglas img {
        width: 50px;
        height: 50px;
    }
/*quinta pagina*/
    #asociate {
        background-image: url(../img/forms.jpg);
        background-size: cover;
        padding: 60px 0px;
    }

    #formulario {
        background-color: rgba(255, 255, 255, 0.177);
        width: 550px;
        margin: auto;
        padding: 10px;
        display: flex;
        border-radius: 12px;
        justify-content: space-between;
    }
    #formulario form{
        width: 450px;
    }

    #formulario div{
        width: 180px;
        height: 250px;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2; /* multiplica el espacio de las lineas x2*/
        border-radius: 12px;
        border: #F4F4F4 solid;
    }


    #formulario input, 
    #formulario button, 
    #formulario textarea{
    width: 80%;
    border-radius: 12px;
    border:none;
    padding: 16px; /* esto da la altura de los input , el centrado y la separacion */
    font-family: Raleway;
    color:black;
    font-weight: 600;
    }

    #formulario input,
    #formulario textarea {
        background-color: #F4F4F4 ;
        margin-bottom: 16px;
        border: #F4F4F4 solid;
    }

    #formulario button{
        background-color: #D7C0AE;
        color: black;
        transition: .3s;
        padding: 10px;
    }
    
    #formulario button:hover{
        background-color:#444444;
    }

    #formulario textarea{
        height: 100px;
        
        resize: none; /* saca la posibilidad de agrandar*/
    }


    #formulario div img {
        width: 50px;
        height: 50px;
        border: 1px solid #707070;
        border-radius: 36px;
        padding: 8px ;
        margin-top: 8px;
    }

}

/*medida extra small para celular*/
@media ( min-width:400px ) and (max-width:599px){
    body{ 
        font-size: 10px;
    }
    header{
        display: flex;
        justify-content:space-around ;
        align-items:center ; /*centra en un contenedor*/
        height: 50px;
        margin: auto;
        padding: 10px;
        background-color: #B7C4CF;
    }
        header a img {
            width: 30px;
            vertical-align: middle;  /* centra dentro de una celda al medio  */
            margin-right: 10px; /*pensar las separaciones,para separar la imagen de la palabra   */
            border-radius: 30px;
        }
        header a {
            color: #707070;
            font-weight: 600; /*para el titulo */
        }
    
        header nav a {
            /*separacion para las palabras se puede usar padding o margin left*/
            
            padding: 8px; /* agranda el area de clic y mejora la experiencia*/
            
        }
/*primer pagina*/

.inicio {
    background-color: #EEE3CB;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px 36px 36px 36px;
}
    .inicio img{
        width: 100px;
        height: 100px;
        border-radius: 12px;
        
    }

    .inicio div {
        width: 290px;
        background-color: #D9D9D9;
        padding: 16px;
        border-radius: 12px;
        text-align: center;
    }

    .inicio p {
        margin-top: 8px;
    }
/*segunda pagina*/
    #ellos{
        display: flex;
        flex-wrap: wrap;  /*esto hace q me respete el ancho del contenedor*/
        justify-content:space-between ;
        background: #D7C0AE;
        padding: 32px;
        
    }
    #ellos h2{
        background: #d9d9d9;
        width: 100%;
        margin-bottom: 16px;;
        border-radius: 12px;
        padding: 8px;

    }
   
    #ellos img{
        width: 100px;
        height: 100px;
        border-radius: 12px;
    }
    #ellos article {
        width:150px ;
        height: 200px;
        background-color: #D9D9D9;
        color:black ;
        text-align:center;
        padding: 8px;
        margin: 8px;
          
    }
     #ellos h3 {
        font-weight: 400 ;
        margin: 8px 8px;
        font-size: 30px;
     }
    
     #ellos p {
        font-weight: 200 ;
        margin: 8px 8px;
        
    }
/* tercer pagina*/
    #menu{
        background-image: url(../img/fondoMenu.jpg);
        background-size: cover;   
        padding: 20px 20px;     
    }
    #menu h2{
        background: #D9D9D9;
        font-size: 16px;
        width: 95%;       
        margin-bottom: 16px;
        border-radius: 12px;        
        display: flex;
        justify-content: center;
    }
    #subMenu h4{
        background: #D9D9D9;
        font-size: 16px;
        padding: 10px 10px 10px 10px;        
        margin-bottom: 16px;
        border-radius: 12px;        
        display: grid;
        text-align: center;
        justify-content: center;
    }
    #subMenu p{
        font-size: 16px;
        width: 300px;
        height: 50px;                     
        display: grid;
        text-align: center;
        justify-content: center;
    }
    #subMenu{
        background-color: rgba(255, 255, 255, 0.576);
        width: 300px;
        margin: auto;
        padding: 40px;
        display: flex;
        border-radius: 12px;
        justify-content: space-between;  
        display: grid;
        text-align: center;
        justify-content: center;     
    }
/*cuarta pagina*/
    #reglas {
        background: #D9D9D9;
        padding: 80px;
    }

    #titulo {
        background: #D7C0AE;
        width: 250px;
        border-radius: 12px;
            
    }

    #titulo img{
        width: 150px;
        height: 130px;
        position: relative;
        bottom: 50px;
        right: 50px;
        border-radius: 12px;
    }

    #titulo div{
        text-align: center;
        padding: 8px;
    
    }

    #titulo div h2 {
        font-size: 30px;
        margin-bottom: 8px;
    
    }
    #titulo p {
        font-size: 16px;
    }

    .lasreglas{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* para respetar el tamaño del contido que se envuelve */
        font-size: 18px;   
    }

    .lasreglas article {
        background-color: #D7C0AE ;
        border-radius: 12px;
        margin-bottom: 20px;
        text-align: center;
        padding: 8px;
    }

    .lasreglas img {
        width: 30px;
        height: 30px;
    }
/*quinta pagina*/
    #asociate {
        background-image: url(../img/forms.jpg);
        background-size: cover;
        padding: 60px 0px;
    }

    #formulario {
        background-color: rgba(255, 255, 255, 0.177);
        width: 390px;
        margin: auto;
        padding: 10px;
        display: flex;
        border-radius: 12px;
        justify-content: space-between;
    }
    #formulario form{
        width: 370px;
    }

    #formulario div{
        width: 150px;
        height: 180px;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2; /* multiplica el espacio de las lineas x2*/
        border-radius: 12px;
        border: #F4F4F4 solid;
    }


    #formulario input, 
    #formulario button, 
    #formulario textarea{
    width: 70%;
    border-radius: 12px;
    border:none;
    padding: 16px; /* esto da la altura de los input , el centrado y la separacion */
    font-family: Raleway;
    color:black;
    font-weight: 600;
    }

    #formulario input,
    #formulario textarea {
        background-color: #F4F4F4 ;
        margin-bottom: 8px;
        border: #F4F4F4 solid;
    }

    #formulario button{
        background-color: #D7C0AE;
        color: black;
        transition: .3s;
        padding: 8px;
    }
    
    #formulario button:hover{
        background-color:#444444;
    }

    #formulario textarea{
        height: 100px;        
        resize: none; /* saca la posibilidad de agrandar*/
    }
    #formulario div img {
        width: 30px;
        height: 30px;
        border: 1px solid #707070;
        border-radius: 36px;
        padding: 6px ;
        margin-top: 6px;
    }
}