@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
html {
    scroll-behavior: smooth; /*scrollea suave */
}
body{
    font-family:  'Raleway', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content:space-between ;
    align-items:center ; /*centra en un contenedor*/
    height: 75px;
    margin: auto;
    padding: 16px;
    background-color: #B7C4CF;
}
    header a img {
        width: 60px;
        vertical-align: middle;  /* centra dentro de una celda al medio  */
        margin-right: 16px; /*pensar las separaciones,para separar la imagen de la palabra   */
    }
    header a {
        color: #707070;
        font-weight: 600; /*para el titulo */
    }

    header nav a {
        /*separacion para las palabras se puede usar padding o margin left*/
        margin-left: 24px;
        padding: 12px; /* agranda el area de clic y mejora la experiencia*/
        
    
    }
.inicio {
    background-color: #EEE3CB;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px 36px 0px 36px;
}
    .inicio img{
        width: 300px;
        height: 300px;
        border-radius: 12px;
    }

    .inicio div {
        width: 400px;
        background-color: #D9D9D9;
        padding: 16px;
        border-radius: 12px;
        text-align: center;
    }

    .inicio p {
        margin-top: 8px;
    }
main{
    
}

    #ellos{
        display: flex;
        flex-wrap: wrap;  /*esto hace q me respete el ancho del contenedor*/
        justify-content:space-between ;
        background: #D7C0AE;
        padding: 32px;
        
    }
    #ellos h2{
        background: #d9d9d9;
        width: 100%;
        margin-bottom: 16px;;
        border-radius: 12px;
        padding: 8px;

    }
   

    #ellos img{
        width: 320px;
        height: 290px;
        border-radius: 12px;
    }
    #ellos article {
        width:350px ;
        height: 450px;
        background-color: #D9D9D9;
        color:black ;
        text-align:left;
        padding: 16px;
        margin: 16px;
          
    }
     #ellos h3 {
        font-weight: 600 ;
        margin: 20px 20px;
        font-size: 30px;
     }
    
     #ellos p {
        font-weight: 200 ;
        margin: 20px 20px;
        font-weight: 200;
    }

    #menu{
        height: 500px;
    }

    #reglas {
        background: #D9D9D9;
        padding: 100px;
    }

    #titulo {
        background: #D7C0AE;
        width: 700px;
       display: flex;
       justify-content: space-between;
       border-radius: 12px;
               
    }

    #titulo img{
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 50px;
        right: 50px;
        border-radius: 12px;
    }

    #titulo div{
        text-align: center;
        padding: 20px;
    }

    #titulo div h2 {
        font-size: 50px;
        margin-bottom: 16px;
    }

    .lasreglas{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* para respetar el tamaño del contido que se envuelve */
            
       
    }

    .lasreglas article {
        background-color: #D7C0AE ;
        border-radius: 12px;
        margin-bottom: 20px;
        text-align: center;
        padding: 8px;
    }

    .lasreglas img {
        width: 50px;
        height: 50px;
    }

    #asociate {
        background-image: url(../img/forms.jpg);
        background-size: cover;
    }

    #formulario {
        background-color: rgba(255, 255, 255, 0.576);
        width: 1000px;
        margin: auto;
        padding: 60px;
        display: flex;
        border-radius: 12px;
        justify-content: space-between;
    }

    #formulario form{
        width: 550px;
    }
    #asociate div{
        width: 250px;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2; /* multiplica el espacio de las lineas x2*/
        border-radius: 12px;
        border: #F4F4F4 solid;
    }

    #asociate div img{
        width: 72px;
        height: 72px;
        border: 1px solid #707070;
        border-radius: 36px;
        padding: 8px ;
        margin-top: 8px;
    }